{
  "semi": false,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "parser": "babel",
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "vueIndentHTML": false,
  "vueSingleQuote": false,
  "vueBracketSameLine": false,
  "vueBracketSpacing": true,
  "vueArrowParens": "always",
  "vueParser": "babel",
  "vueRequirePragma": false,
  "vueInsertPragma": false,
  "vueProseWrap": "never",
  "vueHtmlWhitespaceSensitivity": "css",
  "vuePrettierPath": "./node_modules/vue-prettier-plugin"
}
